<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed PDF page</title>
    <style>
        #myPDF {
            width: 85%;
            height: 975px;
        }
    </style>
</head>
<body>
    <iframe src="./files/Fulltext.pdf" frameborder="0"></iframe>
</body>
</html>